.screen {
  display: flex;
}

.container {
  max-width: 500px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container h1 {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 2rem 0;
}

.mainContent {
  align-items: center !important;
}
