.form {
  width: 100%;
  max-width: 900px;
}

.note {
  margin: 1.5rem;
}

.important {
  color: red;
}

.invalid {
  border: 1px solid var(--darkInvalidColor);
}

.invalidText {
  font-size: 0.9rem;
  color: var(--darkInvalidColor);
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.line1,
.line4,
.line5 {
  display: flex;
  gap: 1rem;
  grid-column-gap: 2rem;
}

.line3,
.line2 {
  width: 100%;
}

.submitButton {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.line1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* gap: 0; */
  grid-column-gap: 2rem;
}

@media (max-width: 450px) {
  .line1,
  .line4,
  .line5 {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .line1,
  .line4,
  .line5 {
    grid-column-gap: 1rem;
  }
  .formContainer {
    gap: 0;
  }
}
