PORT=8080
GOOGLE_SPREADSHEET_ID=143DYgIl6POGdJdmZZvrlLde1Y3qP9i8GonFZn1WVMfo
# Note: Ensure you put your Google service account credentials as "credentials.json" in the backend folder root.

# PostgreSQL Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=vrpi_group_db
DB_USER=postgres
DB_PASSWORD=Abrar@123

# JWT Authentication Config
JWT_SECRET=your_jwt_secret_key

# Google Service Account Environment Variables (alternative to credentials.json)
GOOGLE_PROJECT_ID=your_project_id
GOOGLE_PRIVATE_KEY="your_private_key"
GOOGLE_CLIENT_EMAIL=your_service_account_email
GOOGLE_SHEET_ID=143DYgIl6POGdJdmZZvrlLde1Y3qP9i8GonFZn1WVMfo

