.custom-checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hidden-checkbox {
  display: none;
}

.checkmark {
  width: 1rem;
  height: 1rem;
  border: 1.5px solid var(--primary);
  border-radius: 3px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checked {
  background-color: var(--primary);
  border: 1.5px solid var(--primary);
  background-image: url("../../assets/tick.png");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox-label {
  font-size: 16px;
}
