/* BackgroundOverlay.module.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 990; /* High z-index to overlay all elements */
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* Higher z-index to sit on top of the overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Let clicks pass through to overlay for closing */
}

