.loader {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.loader .box {
  position: relative;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  animation: rotate 3s linear infinite;
  background-color: var(--yellow);
  border: 2px solid var(--gold);
}

.loader .box div {
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  animation: sk-bounce 1s infinite ease-in-out both;
  opacity: 0;
}

.loader .box div:nth-child(odd) {
  /* top: 5px; */
  background-color: var(--gold);
  border: 2px solid var(--yellow);
}

.loader .box div:nth-child(even) {
  /* top: 70px; */
  background-color: var(--gold);
  border: 2px solid var(--yellow);
}

.loader div:nth-child(1) {
  top: 5px;
  left: 5px;
}
.loader .box div:nth-child(2) {
  top: 5px;
  left: 35px;
}

.loader .box div:nth-child(3) {
  top: 5px;
  left: 65px;
}
.loader .box div:nth-child(4) {
  top: 35px;
  right: 5px;
}

.loader .box div:nth-child(5) {
  top: 70px;
  left: 65px;
}
.loader .box div:nth-child(6) {
  top: 70px;
  left: 35px;
}

.loader .box div:nth-child(7) {
  top: 70px;
  left: 5px;
}
.loader .center div:nth-child(8) {
  left: 5px;
  top: 35px;
}

/* @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

@keyframes sk-bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
