.card {
  width: 50%;
  background: linear-gradient(to bottom right, #ffffff5e, #ffffff2d);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  padding-top: 2rem;
}

.submitBtn {
  background-color: var(--primary);
  width: 100%;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: "Libre Baskerville", serif;
  /* margin-right: 15px; */
  transition: all 0.5s ease;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 0;
  border: 1px solid var(--primary);
}

.submitBtn:hover {
  background: transparent;
}

.socialIconBtn {
  background-color: transparent;
  width: 100%;
  border: 1px solid var(--primary);
  color: white;
  border-radius: 20px;
  font-size: 1rem;
  font-family: "Libre Baskerville", serif;
  margin-right: 15px;
  transition: all 0.5s ease;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.socialIconBtn:hover {
  background-color: var(--primary);
}

.socialLoginButtons {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-around;
}

.checkboxContainer {
  display: flex;
  align-items: flex-start;
}

.checkboxContainer label {
  font-size: 0.7rem;
  font-family: "Libre Baskerville", serif;
  color: black;
}

.forgotPasswordLink {
  font-size: 0.7rem;
  font-family: "Libre Baskerville", serif;
}

.forgotPasswordLink a {
  text-decoration: none;
  color: var(--primary);
}

.checkoutFormControl {
  width: 100%;
  padding: 0.5rem;
  border: none;
  /* margin: 1rem; */
  border-radius: 10px;
  border-left: 10px solid var(--primary);
  font-size: 1rem;
}

.checkoutFormControl:focus-visible {
  outline: none;
}

.Club {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.invalid {
  border-left: 10px solid var(--darkInvalidColor);
}

@media (max-width: 800px) {
  .card {
    width: 90%;
  }
}
