.container {
  overflow: hidden;
}

.text {
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.ShowExtraText {
  overflow: hidden; /* Hide scrollbar initially */
}
