.customButton {
  border: 0px solid;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--primary);
  transition: all 0.3s ease;
  color: white;
  /* box-shadow: 2px 2px 2px grey; */
}
.disabledBtn {
  background-color: #ccc;
  border: 0px solid;
  padding: 10px 30px;
  border-radius: 5px;
  transition: all 0.3s ease;
  color: white;
}

.customButton:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.customButton:active {
  transform: scale(0.95);
}

.customButton:focus-visible {
  border: 0px solid;
  outline: none;
}

@keyframes borderPass {
  0% {
    border: 0px solid;
  }
  25% {
    border-left: 2px solid var(--black);
  }
  50% {
    border-bottom: 2px solid var(--black);
  }
  75% {
    border-right: 2px solid var(--black);
  }
  100% {
    border-top: 2px solid var(--black);
  }
}

@keyframes rotateShadow {
  0% {
    box-shadow: 0 0 0 0 red;
  }
  25% {
    box-shadow: 4px 0px 0px red;
  }
  50% {
    box-shadow: 0px 4px 0px red;
  }
  75% {
    box-shadow: -4px 0px 0px red;
  }
  100% {
    box-shadow: 0px -4px 0px red;
  }
}
