.container {
  margin-bottom: 1rem;
  box-shadow: 0px 0px 4px #ccc;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  max-width: 600px;
}

.head {
  display: flex;
  background-color: var(--darkBlue);
  color: var(--white);
  justify-content: space-between;
  padding: 1rem;
}

.imageContainerClass {
  width: 100% !important;
}

.userImage {
  width: 120px;
  position: relative;
}

.imageContainer {
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  top: calc(19.5px);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile {
  font-size: 2rem;
  font-weight: 600;
  width: fit-content;
}

.profileStatus {
  position: relative;
  left: calc(130px + 0.5rem);
  width: fit-content;
}

.details {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 4rem;
}

.joinUs {
  width: fit-content;
}

.detailsData {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  /* min-width: 60px; */
}

.detailsData img {
  width: 30px;
}

@media (max-width: 1200px) {
  .head {
    flex-direction: column;
    gap: 0.5rem;
  }
  .joinUs {
    position: relative;
    left: calc(130px + 0.5rem);
  }
}

@media (max-width: 600px) {
  .details {
    flex-direction: column;
  }

  .detailsData {
    flex-direction: row;
  }
  .profile {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .userImage img {
    position: relative;
    top: 0;
  }
  .imageContainer {
    position: static;
  }
  .joinUs {
    left: 0;
    width: 100%;
    text-align: end;
  }
  .profileStatus {
    left: 0;
  }
  .head {
    align-items: center;
  }
  .details2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .details {
    padding-top: 1rem;
  }
}
