/* ProfileDetailsSection.module.css */

.optionBar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: var(--darkBlue);
  color: var(--white);
}

.optionBar button {
  padding: 0.5rem 1rem;
  margin: 0 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  border-bottom: 3px solid var(--darkBlue);
}

.optionBar button.active {
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
  transition: all 0.3s ease;
}

.optionBar button:focus-visible {
  border: none;
  outline: none;
  border-bottom: 3px solid var(--darkBlue);
}

.content {
  text-align: center;
  margin: 2rem 0;
}

.content div {
  /* margin-top: 20px; */
}

/* Add any additional styling as needed */
